<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="products.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <input type="text" v-model="id" />
      <button v-on:click="updateProduct()">Change Products</button>
      <div v-for="product in products">
        <h4>Name: {{ product.name }}</h4>
        <h5>Description: {{product.description}}</h5>
      </div>
  </body>
</html>
